h2.instructions {
  text-align: center;
  margin-bottom: 1rem;
}

h4.instructions {
  margin-left: 3rem;
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

div.instructions {
  margin: auto;
  width: 80%;
}

ul.instructions {
  margin-top: 0;
}
